.header_admin_container {
    width: 100%;
    height: 60px;
    background-color: #5db350;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #fff;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;

}


.wrapper_account {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #4d4646;
    color: #fff;
    border-radius: 5px;
    padding: 3px;
    border: 1px solid #fff;
}



.trophy_all {
    margin: 0 2px;
}

.exit,
.fish_count,
.trophy_count,
.settings_icon,
.star_icon {
    display: flex;
    align-items: center;
}

.fish_icon,
.star_icon {
    margin-right: 2px;
}

.numbers {
    height: 16px;
}

.settings_icon,
.exit {
    cursor: pointer;
}

.exit {
    width: 18px;
    height: 18px;
}

.settings_icon:hover {
    animation-name: wiggle;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
}

.exit:hover {
    animation-name: wiggle;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
}

@keyframes wiggle {
    0% {
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(20deg);
    }

    40% {
        transform: rotate(-20deg);
    }

    60% {
        transform: rotate(15deg);
    }

    80% {
        transform: rotate(-15deg);
    }

    100% {
        transform: rotate(0deg);
    }
}