.Header_container {
    width: 100%;
    height: 80px;
    background-color: #2D6D4B;
    border-radius: 5px;
    border: 1px solid #fff;
    box-sizing: border-box;
}


.container_logo {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0 5px;
    box-sizing: border-box;
    cursor: pointer;
}



.logo_maxi {
    width: calc(100% - 40px);
    height: 30px;
}