.container_history {
    width: 100%;
    margin: 5px 0;
    color: #fff;
}

.tournament {
    width: 100%;
    cursor: pointer;
    font-size: 0.9rem;
    padding: 2px 10px;
    box-sizing: border-box;
}

.tournament:hover {
    color: gray;
    background-color: #fff;
}


@media (width<400px) {
    .container_history {
        border: 1px solid #fff;
        position: absolute;
        bottom: 50px;
        width: 24%;
        right: 5px;
        background-color: #4d4646;
    }


}