.container_reservoors {
    width: 100%;
    margin: 5px 0;
    color: #fff;
}

.reservour {
    width: 100%;
    cursor: pointer;
    font-size: 0.76rem;
    padding: 2px 5px;
    box-sizing: border-box;
}

.reservour:hover {
    color: gray;
    background-color: #fff;
}

@media (width<400px) {
    .container_reservoors {
        border: 1px solid #fff;
        position: absolute;
        bottom: 50px;
        width: 44%;
        background-color: #4d4646;
    }
}