.container_tournaments {
    width: 100%;
    margin: 5px 0;
    color: #fff;
}

.tournament {
    width: 100%;
    cursor: pointer;
    font-size: 0.9rem;
    padding: 2px 10px;
    box-sizing: border-box;
    position: relative;
}

.tournament:hover {
    color: gray;
    background-color: #fff;
}

.icons_admin {
    position: absolute;
    font-size: 0.9rem;
}