.select {
    margin-left: 5px;
    width: 40%;
    color: #fff;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    padding: 2px;
    box-sizing: border-box;
    outline: none;
    font-size: 0.8rem;
}

.option {
    color: #4d4646
}

.weight {
    margin-left: 5px;
    width: 40%;
    color: #fff;
    background: transparent;
    padding: 2px;
    border: none;
    border-bottom: 1px solid #fff;
    box-sizing: border-box;
    outline: none;
    font-size: 0.8rem;


}

textarea {
    resize: none;
}



@media (width<440px) {

    .setting_catch_user {
        color: #fff;
        cursor: pointer;
        font-size: 1.5rem;
    }

    .header_catchs {
        width: 90%;
        margin: 5px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 5px;
        box-sizing: border-box;
    }

    .card_catch {
        color: #fff;
        font-size: 1.3rem;
        margin-bottom: 5px;
    }

    .modal_catch_tour {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 350px;
        padding: 20px 0;
    }

    .body_modal_tour {
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 10px;
        border-bottom: 1px solid #fff;
        box-sizing: border-box;
    }

    .rows_card_tour_catch {
        display: flex;
        width: 100%;
        flex-direction: column;
        margin: 6px 0;
        position: relative;
    }

    .rows_card_tour_foto {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 3px 10px;
        width: 100%;
        box-sizing: border-box;
    }

    .weight,
    .select {
        margin: 0;
        width: auto;
        padding: 6px;
        background-color: #fff;
        color: #000;
    }

    .weight {
        font-weight: bold;
        text-align: center;
        width: 100%;
        height: 32px;
        outline: none;
        padding: 5px;
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 4px;
    }


    .weight::placeholder {
        font-weight: 300;
        font-style: italic;
        font-size: 0.8rem;
    }

    .button_load {
        color: #fff;
        cursor: pointer;
        box-sizing: border-box;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        background-image: url('../../../../assets/icon_add_foto.webp');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }


    .foto_load {
        width: 60px;
        height: 60px;
        background-image: url('../../../../assets/gal.webp');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;

    }

    .wrap_img {
        width: 90px;
        height: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        border: 2px solid #fff;
        box-sizing: border-box;
    }

    .zoom_foto {
        height: 500px;
        width: 300px;
        background-size: cover;
        border:
            2px solid #fff;
    }

    .admin-width {
        width: auto !important
    }

    .wrapper_type_catch {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: darkgreen;
        width: 100%;
        padding: 10px;
        border-radius: 10px;
        box-sizing: border-box;
    }

    .wrapper_antropometr {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: darkgreen;
        width: 100%;
        padding: 10px;
        border-radius: 10px;
        box-sizing: border-box;
        margin: 10px 0;
    }

    .one_rows {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        width: 100%;
    }

    .hadl_enter {
        width: 32.4%;
        margin: 0 3px;
        text-align: center;
    }

    .input_car_tour {
        font-style: italic;
    }

    .overlay-dark {
        pointer-events: none;
        opacity: 0.4;
        filter: grayscale(0.3);
    }
}


@media (height<813px) {

    .rows_card_tour_catch {
        margin: 3px;
    }

    .modal_catch_tour {
        padding: 10px 0
    }

    .weight {
        height: 22px;
    }

    .input_val {
        height: 22px;
    }

    .name_title_option {
        font-size: 0.6rem;
    }

    .select {
        padding: 2px;
    }

    .button_load {

        width: 80px;
        height: 80px;
    }

    .wrap_img {
        width: 70px;
        height: 70px;
    }

    .rows_card_tour_foto {
        justify-content: space-around;
    }

    .modal_catch_tour {
        width: 330px;
    }

    .zoom_foto_loader {
        width: 100%;
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        color: #888;
        background-color: #f2f2f2;
    }
}