.add_catch {
    width: 15%;
    font-size: 1.3rem;
    color: #fff;
    position: relative;

}

.add_catch_btn {
    position: absolute;
    top: 2px;
    right: -5px;
    cursor: pointer;
}


.add_catch_btn:hover {
    animation-name: wiggle;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
}


@keyframes wiggle {
    0% {
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(20deg);
    }

    40% {
        transform: rotate(-20deg);
    }

    60% {
        transform: rotate(15deg);
    }

    80% {
        transform: rotate(-15deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@media (width<900px) {
    .add_catch {
        font-size: 1rem;
        width: 30%;
    }

    .name {
        width: 65%
    }

    .add_catch_btn {
        right: 15px;
    }
}

@media (width<400px) {
    .add_catch {
        font-size: 0.8rem;
        width: 30%
    }

    .name {
        width: 65%;
        font-size: 0.8rem
    }
}