.container_table {
    background-color: #4d4646;
}

.table_tournament_stata {
    width: 98%
}



@media (width<440px) {

    .wrap_options:nth-child(6) {
        display: flex;
        flex-wrap: wrap;

    }



}