.container_table {
    width: 90%;
    color: #fff;
    overflow-y: auto;
    scrollbar-width: none;
    /* для Firefox */
    -ms-overflow-style: none;
    /* для Internet Explorer и Edge */
}

.styled_table {
    width: 100%;
    border-collapse: collapse;

}

.styled_table th,
.styled_table td {
    border: 1px solid #fff;
    /* Поля между ячейками */
    padding: 8px;
    /* Отступы внутри ячеек */
    text-align: left;
    /* Выравнивание текста */
}

.styled_table th {
    text-align: center;
}

@media (width<950px) {
    .container_table {
        width: 100%
    }

    .styled_table th {
        font-weight: 300;
        background-color: #4d4646;
    }

    .styled_table {
        font-size: 0.7rem
    }

    .styled_table th,
    .styled_table td {
        padding: 5px;
    }

}

@media (width<440px) {
    .status {
        font-weight: 400;
        width: 95%;
        text-align: center;
        background-color: #e5951c;
        padding: 2px 5px;
        margin: 0;
        border: 1px solid #fff;
        box-sizing: border-box;
    }

    .container_table {
        width: 95%;
        background-color: transparent;
        overflow: hidden;
    }

    .cel {
        background-color: lightgray;
        color: #000;
        text-align: center !important;
    }

    .cel_two {
        background-color: #4d4646;
    }

    .status {
        font-size: 0.9rem
    }

    .sub_function {
        margin: 3px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%
    }

    .find_i {
        padding: 5px;
        border-radius: 0 10px 10px 0;
        background-color: #e5951c;
        color: #000;
        padding: 5px 20px;
        width: 120px;
        font-size: 0.8rem;
        font-weight: bold;
        text-align: center;
        padding: 5px 20px;
        box-sizing: border-box;
    }

    .all_fishers {
        padding: 5px;
        border-radius: 10px 0 0 10px;
        background-color: #e5951c;
        color: #000;
        padding: 5px 10px;
        width: 120px;
        font-size: 0.8rem;
        font-weight: bold;
        text-align: center;
    }

}

@media (height<670px) {
    .status {
        font-size: 0.9rem
    }

    .styled_table {
        font-size: 0.6rem
    }
}