.background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* Затемнение области */
    z-index: 2;
    /* Убедитесь, что фон находится под модальным окном */
}

.modal_window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Центрируем модальное окно */
    background-color: #369727;
    border-radius: 10px;
    z-index: 2;
    /* Модальное окно должно быть над фоном */
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
}

@media (width<440px) {
    .modal_window {
        /*  top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;*/
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 90%;

    }

    .modal-backdrop {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
    }

    .modal-content {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        background: #369727;
        border-radius: 10px;
        padding: 5px;
    }

}