.title {
    width: 95%;
    padding: 10px 5px;
    background-color: #4d4646;
    border-radius: 5px;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 1.3rem;
    box-sizing: border-box;
}

.body_reservours {
    width: 95%;
    height: 80%;
    padding: 5px;
    background-color: #4d4646;
    border-radius: 5px;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    font-size: 1.3rem;
    box-sizing: border-box;
}

.image_reservour {
    width: 63%;
    height: 85%;
    border-radius: 5px;
    border: 1px solid #fff;
}