.Center_frame {
    width: 83%;
    height: 100%;
    background-color: #5db350;
    border-radius: 5px;
    border: 1px solid #fff;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;

}


.logo_center {
    width: 500px;
    height: 500px;
    background-image: url('./what.png');
    background-size: cover;
    border-radius: 5px;
    border: 1px solid #fff;
}

@media (width<950px) {

    .logo_center {
        width: 100%;
        background-position: center;
    }

    .Center_frame {
        width: 76%
    }

    .history_header th {
        font-size: 0.7rem
    }

    .rows_list_catch {
        font-size: 0.7rem
    }

    tr.rows_list_catch:nth-child(odd) {
        background-color: gray;
        /* Светло-серый */
    }

    tr.rows_list_catch:nth-child(even) {
        background-color: #a9a9a9;
        /* Темно-серый */
    }


    .stat_name {
        font-size: 0.9rem
    }

    .title,
    .bans {
        font-size: 1rem
    }

    .bans {
        padding: 1px;
    }

    .discription_bans {
        font-size: 0.7rem;
        margin-left: 2px;
    }

    .title {
        width: 99%
    }

    .body_reservours {
        width: 99%
    }

    .image_reservour {
        width: 49%;
        height: 80%
    }

    .bans_card {
        width: 49%;
        height: 99%;
        border: none;
    }

    .norma {
        display: none
    }
}

@media (width<440px) {
    .stat_name {
        font-size: 1.3rem
    }

    .discription_bans {
        font-size: 1rem;
    }

    .bans {
        font-size: 1.5rem
    }

    .Center_frame {
        background-color: initial;
        border: none;
        border-radius: 0;
        height: calc(100% - 120px);
        margin-top: 60px;
        width: 100%;
    }

    .body_reservours {
        flex-direction: column;
    }

    .bans_card {
        width: 80%;
    }

    .history_header th {
        font-size: 0.5rem;
        font-weight: 300;
    }

    .rows_list_catch {
        font-size: 0.5rem;
        font-weight: 300;
    }


    .image_reservour {
        height: 80%;
        width: 80%;
    }



    .header_tournament_table {
        width: 100%;
        background-color: #FFBB3B;
        border-radius: 10px 10px 0 0;
        padding: 10px;
        box-sizing: border-box;
        font-weight: bold;
    }

    .body_table {
        border: none;
        border-radius: 0;
    }

    .testov {
        width: 100%;
        transform: translateY(0px);
        transition: none;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .lo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .update_loader {
        margin-bottom: 5px;
        background-image: url('../../assets/logo_mini.webp');
        width: 50px;
        height: 50px;
        background-size: cover;
        animation: rotate 5s linear infinite;
    }

    @keyframes rotate {
        0% {
            transform: rotateY(0deg);
            /* Начальное состояние */
        }

        100% {
            transform: rotateY(360deg);
            /* Конечное состояние */
        }
    }


}