.Center_frame {
    width: 83%;
    height: 100%;
    background-color: #5db350;
    border-radius: 5px;
    border: 1px solid #fff;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;

}


.logo_center {
    width: 500px;
    height: 500px;
    background-image: url('./what.png');
    background-size: cover;
    border-radius: 5px;
    border: 1px solid #fff;
}

@media (width<950px) {

    .logo_center {
        width: 100%;
        background-position: center;
    }

    .Center_frame {
        width: 76%
    }

    .history_header th {
        font-size: 0.7rem
    }

    .rows_list_catch {
        font-size: 0.7rem
    }

    .container_table_history {
        border-radius: 5px;
    }

    .stat_name {
        font-size: 0.9rem
    }

    .title,
    .bans {
        font-size: 1rem
    }

    .bans {
        padding: 1px;
    }

    .discription_bans {
        font-size: 0.7rem;
        margin-left: 2px;
    }

    .title {
        width: 99%
    }

    .body_reservours {
        width: 99%
    }

    .image_reservour {
        width: 49%;
        height: 80%
    }

    .bans_card {
        width: 49%;
        height: 99%;
        border: none;
    }

    .norma {
        display: none
    }
}

@media (width<440px) {
    .stat_name {
        font-size: 1.3rem
    }

    .discription_bans {
        font-size: 1rem;
    }

    .bans {
        font-size: 1.5rem
    }

    .Center_frame {
        background-color: initial;
        border: none;
        border-radius: 0;
        height: calc(100% - 60px);
        margin-top: 40px;
        width: 100%;
    }

    .body_reservours {
        flex-direction: column;
    }

    .bans_card {
        width: 80%;
    }

    .history_header th {
        font-size: 0.5rem;
        font-weight: 300;
    }

    .rows_list_catch {
        font-size: 0.5rem;
        font-weight: 300;
    }


    .image_reservour {
        height: 80%;
        width: 80%;
    }

    .card_tournament {
        border-radius: 0;
        background-color: transparent;
    }

    .header_tournament_table {
        border: none;
        border-radius: 0;
        background-color: transparent;
    }

    .body_table {
        border: none;
        border-radius: 0;
    }
}