.user_card {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 5px 0;
}

.rows_user {
    width: 45%;
    display: flex;
    align-items: center;
}

.label_name {
    width: 40%;
    color: #fff;
    font-size: 0.9rem;
}


.input_user_value {
    margin-left: 5px;
    width: 40%;
    color: #fff;
    background: transparent;
    border-radius: 5px;
    padding: 2px;
    box-sizing: border-box;
    outline: none;
    font-size: 0.8rem;
}

.input_user_value {
    margin-left: 10px;
    width: 50%;
}

@media (width<950px) {


    .input_user_value {
        border: 1px solid rgba(255, 255, 255, 0.7)
    }
}